<h4>Список объектов системы</h4>

<div class="panel panel-default">
	<div class="panel-heading">Дерево объектов</div>
	<div class="panel-body">
		
	</div>
</div>

<table class="table table-bordered table-hover table-striped">
	<thead>
		<tr>
			<th></th>
			<th>Id</th>
			<th>Name</th>
			<th>Parent</th>
			<th>Type</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let mo of moList">
			<td></td>
			<td>{{mo.Id}}</td>
			<td>{{mo.Name}}</td>
			<td>{{mo.ParentName}}</td>
			<td>{{mo.TypeName}}</td>
			<td>{{mo.Value}}</td>
		</tr>
	</tbody>
</table>
