<div class="col-lg-12 col-sm-12">
	<h4>Карточка пользователя</h4>
</div>
<div class="col-lg-4 col-sm-12">
	
	<div class="panel panel-default">
		<div class="panel-heading">Параметры пользователя</div>
		<div class="panel-body">
			<form (ngSubmit)="onSubmit()" id="useredit" class="form-horizontal" role="form">
				<div class="form-group">
					<span class="control-label col-sm-3">Ид</span>
					<div class="col-sm-9">
						<span class="form-control">{{model.id}}</span>
					</div>
				</div>
				<div class="form-group">
					<span class="control-label col-sm-3">Имя</span>
					<div class="col-sm-9">
						<input type="text" [(ngModel)]="model.name" name="name" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<span class="control-label col-sm-3">Email</span>
					<div class="col-sm-9">
						<input type="text" [(ngModel)]="model.email" name="email" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<span class="control-label col-sm-3">Телефон</span>
					<div class="col-sm-9">
						<input type="text" [(ngModel)]="model.phoneNumber" name="phoneNumber" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<span class="control-label col-sm-3">Контрагент</span>
					<div class="col-sm-9">
						<dropdown [itemType]="'Contractor'" [minTerm]="0" [allowClear]="true" [(ngModel)]="model.contractorId" name="contractorToId" class="form-control" id="inputCont"></dropdown>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-9">
						<button (click)="onBackBtn()" class="btn btn-primary">Назад</button>
						<button type="submit" class="btn btn-primary" id="btnSubmit">Сохранить</button>
					</div>
				</div>
			</form>
		</div>
	</div>

</div>
<div class="col-lg-8 col-sm-12">
	<div class="panel panel-default">
		<div class="panel-heading">Дополнительные параметры</div>
		<div class="panel-body">


			<tabs>
				<tab title="Роли пользователя">
					<table class="table table-hover table-bordered table-condensed">
						<thead>
							<tr>
								<th></th>
								<th>Наименование роли</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let r of roleList">
								<td>
									<a (click)="onClickDelRole(r)" class="btn btn-xs btn-danger" title="Удалить роль пользователя"><i class="fa fa-trash-o"></i></a>
								</td>
								<td>
									{{r.roleName}}
								</td>
							</tr>
							<tr class="success">
								<td colspan="2">Добавление роли</td>
							</tr>
							<tr class="success">
								<td>
									<a (click)="onClickAddRole()" [class.disabled]="!addRole.roleId" class="btn btn-xs btn-primary" title="Добавить роль пользователю"><i class="fa fa-save"></i></a>
								</td>
								<td>
									<dropdown [itemType]="'Role'" [minTerm]="0" [(ngModel)]="addRole.roleId" name="roleId" class="form-control"></dropdown>
								</td>
							</tr>
						</tbody>
					</table>
				</tab>
				<tab title="Службы пользователя">
					<table class="table table-hover table-bordered table-condensed">
						<thead>
							<tr>
								<th></th>
								<th>Наименование службы</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let dep of depList">
								<td>
									<a (click)="onDeleteDep(dep)" class="btn btn-xs btn-danger" title="Удалить службу пользователя"><i class="fa fa-trash-o"></i></a>
								</td>
								<td>
									{{dep.departmentName}}
								</td>
							</tr>
							<tr class="success">
								<td colspan="2">Добавление службы</td>
							</tr>
							<tr class="success">
								<td>
									<a (click)="onAddDep()" [class.disabled]="!addDep.departmentId" class="btn btn-xs btn-primary" title="Добавить службу пользователю"><i class="fa fa-save"></i></a>
								</td>
								<td>
									<dropdown [itemType]="'Department'" [minTerm]="0" [parentId]="model.contractorId" [(ngModel)]="addDep.departmentId" name="departmentId" class="form-control"></dropdown>
								</td>
							</tr>
						</tbody>
					</table>
				</tab>
			</tabs>
		</div>
	</div>
</div>