<div class="dropdown" [class.disabled]="disabled">
	<div class="dropdowncontrol">
		<span class="dropdowntext">{{(!selectedItem) ? placeholder : selectedItem.text}}</span>
		<span *ngIf="selectedItem && !disabled && allowClear" (click)="clearSelect()" class="buttonclear"><i class="fa fa-close"></i></span>
		<span *ngIf="!showDropDown && !disabled" (click)="showHide()" class="buttondown"><i class="fa fa-chevron-down"></i></span>
		<span *ngIf="showDropDown && !disabled" (click)="showHide()" class="buttondown"><i class="fa fa-chevron-up"></i></span>
	</div>
	<div *ngIf="showDropDown && !disabled" class="dropdownform">
		<div class="dropdownsearch">
			<input #input type="text" [(ngModel)]="searchValue" name="searchValue" [formControl]="termInput" class="searchinput" (keyup)="onKeyDown($event)" />
		</div>
		<div class="dropdownitems">
			<span *ngIf="showHelpText()">Введите минимум {{MinTerm}} символа(ов)</span>

			<ul *ngIf="Items" class="itemslist">
				<li *ngFor="let i of (Items | search:searchValue)" class="item" (click)="onSelectItem(i)" [innerHTML]="getItemText(i)"></li>
			</ul>

			<ul *ngIf="MinTerm === 0 || termFilter(searchValue)" class="itemslist">
				<li *ngFor="let i of LazyItems" class="item" [class.hover]="i == hoverItem" (click)="onSelectItem(i)" (mouseover)="onHoverItem(i)" [innerHTML]="getItemText(i)"></li>
			</ul>
			<span *ngIf="ItemType && LazyItems && LazyItems.length == 0 && MinTerm > 0 && !showHelpText()">Поиск не дал результатов...</span>
		</div>
	</div>
</div>